<template>
  <v-app>
    <v-toolbar
      color="blue lighten-1"
      app
      fixed
      :clipped-left="$vuetify.breakpoint.lgAndUp"
    >
      <v-toolbar-side-icon
        v-if="$store.state.logged"
        @click.stop="toggleDrawer"
      />
      <v-toolbar-title class="headline">
        <span>Chat Room</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn v-if="$store.state.logged" @click="logout" color="secondary">
        <span class="mr-2">退出</span>
      </v-btn>
    </v-toolbar>

    <v-content> <router-view /> </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  methods: {
    logout() {
      this.$store.state.socket.emit('leave')
      this.$store.commit('toggleLogged')
      this.$router.push('/login')
    },
    toggleDrawer() {
      this.$store.commit('toggleDrawer')
    }
  }
}
</script>
