<template>
  <v-app>
    <v-navigation-drawer
      :value="$store.state.drawer"
      fixed
      app
      :clipped="$vuetify.breakpoint.lgAndUp"
    >
      <online-list @list-change="listChanged" />
    </v-navigation-drawer>
    <v-layout align-center justify-center v-show="!to">
      请从左侧列表选择用户，然后开始聊天
    </v-layout>
    <div>
      <v-container v-show="!!to">
        <basic-vue-chat
          :title="to"
          @newOwnMessage="send"
          :new-message="newMessage"
          :initial-feed="feed"
        />
        <v-switch
          :label="`和谐加密已${enableValues ? '开启' : '关闭'}`"
          v-model="enableValues"
          color="indigo"
        />
      </v-container>
      <v-dialog v-model="isHashFailed" width="200">
        <v-card>
          <v-card-title>接收到一条可能被篡改过的消息，请注意</v-card-title>
        </v-card>
      </v-dialog>
      <v-snackbar right bottom :timeout="5000" :value="!!another">
        {{ another }} 发消息给您
        <v-btn color="pink" flat :to="'/chat/' + another">查看</v-btn>
      </v-snackbar>
      <v-snackbar right bottom :timeout="5000" v-model="otherSideExited">
        对方已退出
        <v-btn color="pink" flat @click="otherSideExited = false">关闭</v-btn>
      </v-snackbar>
    </div>
  </v-app>
</template>

<script>
import crypto from 'crypto-js'
import sha256 from 'crypto-js/sha256'
import BasicVueChat from 'basic-vue-chat'
import OnlineList from '../components/OnlineList'

const VALUES = [
  '富强',
  '民主',
  '文明',
  '和谐',
  '自由',
  '平等',
  '公正',
  '法治',
  '爱国',
  '敬业',
  '诚信',
  '友善'
]
VALUES.a = '诚信'

export default {
  name: 'Chat',
  components: {
    BasicVueChat,
    OnlineList
  },
  data() {
    return {
      to: this.$route.params.to,
      secret: '',
      otherSideExited: false,
      newMessage: {},
      isHashFailed: false,
      feed: [],
      another: '',
      enableValues: false
    }
  },
  beforeMount() {
    this.$store.state.socket.on('receive-keys', keys => {
      this.secret = this.$store.state.ecdh.computeSecret(keys).toString('hex')
      this.$log('根据对方公钥计算出双方共享的对称的 AES 密钥：' + this.secret)
      const unread = this.$store.state.unread[this.to]
      if (unread) {
        unread.forEach(item => this.receive(item.body, item.date))
        this.$store.commit('clearUnread', { from: this.to })
      }
    })
    if (this.to) {
      this.$store.state.socket.emit('query-keys', this.to)
      this.fetchRecords()
    }
  },
  mounted() {
    document.getElementById('window__messages__container').onclick = ({
      target
    }) => {
      if (
        !this.enableValues ||
        !target.classList.contains('message__contents') ||
        !target.parentElement.classList.contains('message--foreign')
      ) {
        return
      }

      if (target.hasAttribute('data-enc')) {
        const origin = target.getAttribute('data-enc')
        target.textContent = origin
        target.removeAttribute('data-enc')
      } else {
        const enc = target.textContent.trim()
        target.setAttribute('data-enc', enc)
        target.textContent = this.decodeCoreValues(enc)
      }
    }

    this.$store.state.socket.on('receive-message', ({ from, body }) => {
      if (from !== this.to) {
        this.$store.commit('addUnread', { from, body })
        this.another = from
      } else {
        this.receive(body)
      }
    })
  },
  beforeRouteUpdate(to, from, next) {
    if (to.params.to !== from.params.to) {
      this.to = to.params.to
      this.another = ''
      this.$store.state.socket.emit('query-keys', this.to)
      next()
    } else {
      next(false)
    }
    this.fetchRecords()
  },
  beforeDestroy() {
    this.$store.state.socket.removeAllListeners('receive-message')
    this.$store.state.socket.removeAllListeners('receive-keys')
  },
  methods: {
    send(message) {
      const now = new Date()
      this.$store.commit('addMessage', {
        from: this.to,
        body: {
          id: 0,
          contents: message,
          date: `${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`
        }
      })
      message = this.enableValues ? this.encodeCoreValues(message) : message
      const encrypted = crypto.AES.encrypt(message, this.secret).toString()
      const hash = sha256(message).toString()

      this.$log(`即将发送消息：
消息明文为：${message}
AES 加密后：${encrypted}
SHA256 哈希值：${hash}`)

      const body = {
        message: encrypted,
        hash
      }
      this.$store.state.socket.emit('send-message', { to: this.to, body })
    },
    receive({ message, hash }, now = new Date()) {
      const decrypted = crypto.AES.decrypt(message, this.secret).toString(
        crypto.enc.Utf8
      )

      this.$log(`收到对方消息：
消息密文为：${message}
AES 解密后：${decrypted}
SHA256 哈希值：${hash}`)

      if (sha256(decrypted).toString() !== hash) {
        this.isHashFailed = true
      }

      const newMessage = {
        author: this.to,
        contents: decrypted,
        date: `${now.getHours()}:${now.getMinutes()}:${now.getSeconds()}`
      }
      this.newMessage = newMessage
      this.$store.commit('addMessage', { from: this.to, body: newMessage })
      return newMessage
    },
    fetchRecords() {
      // We must use mutable `splice` method, and DO NOT assign new array directly!
      this.feed.splice(
        0,
        this.feed.length,
        ...(this.$store.state.record[this.to] || [])
      )
    },
    listChanged(list) {
      if (!list.includes(this.to)) {
        this.to && (this.otherSideExited = true)
        this.$router.push('/chat')
      }
    },
    encodeCoreValues(raw) {
      return raw
        .split('')
        .map(ch => ch.charCodeAt(0).toString(11))
        .map(ascii =>
          ascii
            .split('')
            .map(i => VALUES[i])
            .join('')
        )
        .join(VALUES[11])
    },
    decodeCoreValues(enc) {
      const chars = enc.split(VALUES[11])
      return chars
        .map(char => {
          const units = []
          for (let i = 0, length = char.length; i < length; i += 2) {
            const unit = char[i] + char[i + 1]
            const index = VALUES.indexOf(unit)
            index > -1 && units.push(index.toString(11))
          }
          return String.fromCharCode(Number.parseInt(units.join(''), 11))
        })
        .join('')
    }
  }
}
</script>

<style lang="stylus">
.basic-vue-chat {
  .window {
    max-width: 100%;
    height: 70vh;
  }
}
</style>
