<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="blue lighten-1">
                <v-toolbar-title>登录</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    prepend-icon="person"
                    name="login"
                    label="用户名"
                    type="text"
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    prepend-icon="lock"
                    name="password"
                    label="密码"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-alert :value="alert" type="info" style="width: 90%">
                {{ message }}
              </v-alert>
              <v-card-actions>
                <v-btn to="register">没有账号？注册一个</v-btn>
                <v-spacer></v-spacer>
                <v-btn @click="login" color="primary">登录</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <v-snackbar right bottom :timeout="5000" v-model="bar">
      {{ barMessage }}
      <v-btn color="pink" flat @click="bar = false">关闭</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import sha256 from 'crypto-js/sha256'

export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
      alert: false,
      message: '',
      bar: !!this.$route.query.code
    }
  },
  computed: {
    barMessage() {
      return {
        0: '注册成功，请登录以继续',
        2: '您已经注册过了，请直接登录即可'
      }[this.$route.query.code]
    }
  },
  methods: {
    async login() {
      const data = await this.$http.post('/login', {
        username: this.username,
        password: sha256(this.password).toString()
      })
      if (data.code === 0) {
        const keys = this.$store.state.ecdh.generateKeys()
        this.$log('ECDH 公钥为：' + keys.toString('hex'))

        this.$store.state.socket.emit('enter', this.username)
        this.$store.state.socket.emit('send-keys', keys)
        this.$store.commit('toggleLogged')
        this.$router.push('/chat')
      } else {
        this.alert = true
        this.message = data.message
      }
    }
  }
}
</script>
