<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>注册新用户</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    prepend-icon="person"
                    name="login"
                    label="用户名"
                    type="text"
                    v-model="username"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    prepend-icon="lock"
                    name="password"
                    label="密码"
                    type="password"
                    v-model="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-alert :value="alert" type="info" style="width: 90%">
                {{ message }}
              </v-alert>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="register" color="primary">注册</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import sha256 from 'crypto-js/sha256'

export default {
  name: 'Register',
  data: () => ({
    username: '',
    password: '',
    alert: false,
    message: ''
  }),
  methods: {
    async register() {
      const data = await this.$http.post('/register', {
        username: this.username,
        password: sha256(this.password).toString()
      })
      if (data.code === 0 || data.code === 2) {
        this.$router.push('/login?code=' + data.code)
      } else {
        this.alert = true
        this.message = data.message
      }
    }
  }
}
</script>
