<template>
  <v-list dense>
    <template v-for="name in people">
      <v-list-tile :key="name" :to="`/chat/${name}`">
        <v-list-tile-action>
          <v-icon>account_circle</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title> {{ name }} </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
export default {
  name: 'OnlineList',
  data: () => ({
    people: []
  }),
  mounted() {
    this.$store.state.socket.on('return-list', list => {
      this.people = list
      this.$emit('list-change', list)
    })
    this.$store.state.socket.emit('fetch-list')
  },
  beforeDestroy() {
    this.$store.state.socket.removeAllListeners('return-list')
  }
}
</script>
